@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format("embedded-opentype"), 
        url('../fonts/fontawesome-webfont.woff') format("woff"), 
        url('../fonts/fontawesome-webfont.ttf') format("truetype"), 
        url('../fonts/fontawesome-webfont.svg#font-name') format("svg");
}

html, body, #map {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'FontAwesome', sans-serif;
}

#search,
#form-select{
    position: absolute;
    z-index: 999;
    margin-top: 50px;
    margin-left: 50px;
    width: 25rem;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
}

#form-select{
	margin-top: 65px;
    overflow-y: auto;
}

p{
	margin: 0px !important;
	padding: 10px;
}

.alert{
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
    text-align: center;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #0056b0; /* blur */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: #fff;
    text-align: center;
}
#box{
    background: #fff;
    padding: 1rem;
    color: #0056b0;
    margin: 1rem 0rem;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    display: inline;
    padding: 0rem 1.5rem;
}
h2{
    text-transform: uppercase;
    font-size: 1.3rem;
}

#map{
	transition: 0.5s;
}

.alert{
    color: #a94442;
    background-color: #f2dede;
    padding: 15px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}
